@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.closebox-title .closebox-twisty {
	-moz-appearance: treetwistyopen;
	-moz-padding-end: 2px;
	padding-top: 1px;
	width: 9px;
}
.closer[closed="true"] .closebox-title .closebox-twisty {
	-moz-appearance: treetwisty;
	width: 9px;
}
.selectlinks .toolbarbuttonDown {
	border-width: 0px !important;
}

.downlinks {
	width:780px;
	height:450px;
}
prefpane groupbox {
	margin: 1em 0.6ex 1ex 0.6ex;
}

treechildren::-moz-tree-image(iconic) {
	width: 32px !important;
	height: 32px !important;
}

/* Work-around for bugzilla #593812 */
treechildren::-moz-tree-progressmeter {
	margin: 2px 4px;
	padding: 1px;
	border: 1px solid;
	border-top-color: ThreeDShadow;
	border-right-color: ThreeDHighlight;
	border-bottom-color: ThreeDHighlight;
	border-left-color: ThreeDShadow;
	background-color: -moz-Dialog;
	color: ThreeDShadow;
}

/* we don't care about the gtk2 stubbornness of not showing menu icons by default */
.menu-iconic-left {
	visibility: visible !important;
}
